@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(226, 229, 232);
}

.cards {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.card {
  border: 2px solid gray;
  padding: 1rem;
  border-radius: 6px;
  background-color: aliceblue;
}
